.mymaze{
    display: grid;
  background-color: #2196F3;
  padding: 10px;
  margin: auto;

}

.cell{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
  justify-content: center;

}